.bg {
    position: absolute;
    top: 0px;
    background-image: url(/img/Games/Valorant/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;
    filter: blur(1px);
    z-index: 0;

}
.index{margin-top: 10%;
    width: 100%;

    text-align: center;
    z-index: 1;
    position: relative;
    top: 30px;
}
.Allbut {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: rgb(255, 255, 255);
}