<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AboutMe</title>
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="/style/about.css">

</head>

<body>
    <%- include('share/header')%>
        <div class="bg"></div>
        <div class="index">
            <h1>我們是 TheGameC</h1>
            <div class="Allbut">
                <button id="aboutmeBut">關於我們</button>
                <button id="memberBut">成員介紹</button>
                <button id="joinmeBut">加入我們</button>
            </div>
        </div>

</body>

</html>